* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;

  /* IE 和早期 Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  /* Chrome、Safari、新版 Edge */
  &::-webkit-scrollbar {
    display: none;
  }
}
