/* 引入主题样式 */
@import './theme/gothic.css';
@import './theme/animations.css';
@import './theme/markdown.css';
@import './theme/waline.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  /* IE 和早期 Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  /* Chrome、Safari、新版 Edge */
  &::-webkit-scrollbar {
    display: none;
  }
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  pointer-events: none; /* 彻底禁用鼠标事件，含右键 */
}

:root {
  font-family: 'special-common', 'PingFang SC';
}

@font-face {
  font-family: special-common;
  src: url(../fonts/FZ-RZH.TTF);
}

@font-face {
  font-family: special-event;
  src: url(../fonts/FZ-WHJZT.TTF);
}
